---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SeoHead from "../components/SeoHead.astro";
import CookieConsent from "../components/CookieConsent.astro";
import "../styles/global.css";

const { title, description, pathname = Astro.url.pathname } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <SeoHead title={title} description={description} pathname={pathname} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <CookieConsent />
  </body>
</html>
